/*** Some entire page settings ***/
* {
       margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}



/**************** THE FEED text ******************/
.header{
  color: white;
  text-align: center;
  font-size: 400%;
}

#logo{
  float: right;
  margin-right: 15%;
  margin-top: -8%;
}


/************* Main container that provides login functionality ***************/
#container   {
  background-color: rgb( 65, 63, 67);
  position: absolute;

  width: 345px;
  height: 275px;

  top: 50%;
  left: 50%;
  margin-top: -4.2%;
  margin-left: -12%;

  border: 2px;
  border-radius: 5px;
  z-index: 10;
}

/***** Labels an input for User email and password *****/
#UpperLabels {
  font-family: monospace;
  color: white;
  margin-left: 7px;
  margin-top: 4px;
  font-size: 15px;
}

/** Text descriptors for the container **/
label{
  color: white;
  font-family: monospace;
}
/** Input entries **/
input {
    font-size: 15px;
    outline: none;
}

input[type=text],
input[type=password] {
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}

/************* Lower div to hold buttons for login **************/
#lower {
    width: 100%;
    height: 130px;
    background-color: rgb( 65, 63, 67);
    margin-top: -20px;

    border-radius: 5px;
}

/** Google sign in button **/
#googleSignIn{
  margin-left: 2%;

  background-color: white;

  color: white;

  border: 2px;
  border-radius: 5px;

  margin-top: 5.5%;
  padding: 2% 4%;

  cursor: pointer;
  width: 40%;
}
/** Colors for google sign in button text **/
#sign{
  color: rgb(37, 181, 43);
}
#in{
  color: rgb(255, 214, 0);
}
#with{
  color: red;
}
#google{
  color:blue;
}

/** Main login button **/
#loginButton {
  background-color: #0fadc3;
  /*background-color: rgb(68, 196, 122);*/
  color: white;
  padding: 14px 20px;

  margin-top: 15px;
  margin-left: 9px;

  cursor: pointer;

  width: 95%;
  border: 2px;
  border-radius: 5px;
}

/** Forgot password button **/
#forgotPassword {

  float: right;
  background-color: #0fadc3;
  color: white;

  border: 2px;
  border-radius: 5px;

  padding: 14px 15px;
  margin-top: 20px;
  margin-right: 8px;

  cursor: pointer;
  width: 40%;
}

/************************* Create an Account Section **************************/
/** Create account Button **/
#createButton {

  background-color: #0fadc3;
  color: white;

  padding: 20px 20px;

  margin-top: 120px;
  font-size: 150%;

  position: absolute;
  right: 15%;

  border: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

/** Paragraph containing information about the website **/
#CreateAccount{
  color: white;
  font-size: 25px;

  font-family: Lucida Sans Unicode;

  width: 550px;
  height: 150px;

  position: absolute;
  left: 5%;

  padding: 15px 15px;
  margin: 60px 100px;
  transition: 0.2s;
}

/*********************** New Create An Account Layer **************************/

.createAccountLayer{

  background-color: rgb( 65, 63, 67);
  height: 320px;
  position: absolute;
  z-index: 9;
  width: 100%;

}

/** Email, Name, Password **/
#left-fields{
    float: left;
    padding-top: 2%;
    display: block;
    /*background-color: red;*/

}

/** Security Q&A **/
#mid-fields{

  padding-top: 2%;
  display: inline-block;

  position: absolute;

  margin-left: 10%;
  /*left: 30%;*/

}

/** Headers for Create Account Layer **/

#EmailHeader{
  font-size: 20px;
  color: white;
  padding-top: 1%;
  padding-left: 21%;

}

#NameHeader{
  font-size: 20px;
  color: white;
  padding-top: 1%;
  padding-left: 21%;

}

#SecQuestionHeader{
  color: white;
  font-size: 20px;
  padding-left: 14%;

}

#PasswordHeader{
  color: white;
  font-size: 20px;
  padding-left: 21%;
  padding-top: 3.5%;

}

#SQAnswerHeader{
  color:white;
  font-size: 20px;
  width: 400px;
  padding-top: 5%;
  padding-left: 14%;


}

/****** Create Account Input Fields *****/

#emailInput{
  margin-left: 25%;
}

#securityQuestionDropdown{
  margin-left: 17%;
  padding-right: 70px;
  height: 40px;
  margin-top: 3%;

}

#nameInput{
  margin-left: 25%;
}

#passwordInput{

  margin-left: 25%;
}

#securityAnswer{
  margin-left: 17%;

}

/** Submit Button for Account Creation **/

#submitAccount{
  float: right;
  background-color: #0fadc3;
  color: white;

  padding: 20px 20px;
  margin-right: 20%;
  margin-top: 8%;

  font-size: 20px;

  border: 2px;
  border-radius: 5px;
  cursor: pointer;
}


/********************* Forgot Password Retrieval Screen ***********************/

.forgotPasswordContainer {
  /* Color and dimensions of the container */
  background-color: rgb( 65, 63, 67);
  width: 345px;
  height: 275px;

  position: absolute;

  top: 50%;
  left: 50%;
  left: 50%;
  margin-top: -4.2%;
  margin-left: -12%;

  /* Give rounded edge effect */
  border: 2px;
  border-radius: 5px;

  /* All text inside colored white */
  color: white;

  z-index: 0;

}

#forgotEmailHeader{
  display: inline-block;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 1%;
}

#forgotEmail{
  margin-top: 0;
}

#forgotDrowpdownHeader{
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 1%;
}

#forgotDropdown{
  margin-left: 5%;
  width: 305px;
  height: 30px;
  margin-bottom: 2%;
}

#forgotAnswerHeader{
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 1%;

}

#forgotAnswer{
  margin-top: 0;
}

#forgotSubmit{
  background-color: #0fadc3;
  /*background-color: rgb(68, 196, 122);*/
  color: white;
  padding: 14px 20px;

  margin-top: 4%;
  margin-left: 2.5%;

  cursor: pointer;

  width: 95%;
  border: 2px;
  border-radius: 5px;
}

#exitImage{
  float: right;
  margin-top: 2%;
  margin-right: 2%;

  cursor: pointer;

}
