:root {
    /*Lite
    --primary: #ffffff;
    --secondary: #00FF7F;
    */
    /*Dark
    --primary: #101111;
    --secondary: #0073df;
    
    /*Red*/
    --primary: #101111;
    --secondary: #990000;
}



.nav-menu {
    opacity: 0.0;
    background-color: black;
    z-index: -10000;
    position: fixed;
    height: 100%;
    width: 100%;
    transition: 1.2s;
}
.nav-menu ul {
    width: 50%;
    list-style: none;
    text-align: left;
    padding: 0;
    margin-top: 5%;
    display: inline-block;
}
.nav-menu a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    opacity: 1.0;
}
.nav-menu a:hover {
    opacity: 0.5;
    transition: 0.7s;
}
.nav-menu a.active {
    transition: 0.5s;
    opacity: 0;
    background-color: #fff;
    cursor: default;
}
.nav-menu li {
    width: 100%;
    border-bottom: none;
    height: 10%;
    line-height: 60px;
    font-size: 3.0em;
    display: inline-block;
    margin-left: 7%;
    margin-bottom: 1%;
    float: left;
}

.FeedLogo {
    transition: 0.7s;
    position: absolute;
    top: 0;
    left: 90%;
    text-align: right;
    display: inline-block;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    opacity: 1.0;
    font-size: 1.5em;
}

.FeedLogoShift{
    transition: 0.7s;
    left: 40%;
}

.addScreen {
    position: absolute;
    top: 85%;
    left: 91%;
    text-align: center;
    color: #fff;
    float: right;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    opacity: 1.0;
    width: 10%;
    height: 5%;
    font-size: 4.0em;
    display: inline-block;
    transition: 0.7s;
}

.addScreenShift {
    transition: 0.7s;
    left: 41%;
}

.main-panel {
    transition: .5s;
    background-color: var(--primary);
    height: 100%;
    margin-bottom: 0;
}
