:root {

    /*Lite
    --primary: #ffffff;
    --secondary: #00FF7F;
    */
        
    /*Dark
    --primary: #101111;
    --secondary: #0073df;
    
    /*Red*/
    --primary: #101111;
    --secondary: #990000;

}

.user-display {
    background-image: url("img/login_background.jpg");
    width: 90px;
    height: 90px;
    margin-top: -20px;
    background-size: cover;
}

.user-pic {
    margin-left: 25px;
    margin-top: 30px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.user-name {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 1.0em;
    margin-left: -20px;
}

.user-name a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.menu {
    margin-top: 14px;
}

.menu a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: block;
}

.menu a:hover {
    transition: 0.3s;
    color: #fff;
}

.menu ul {
    text-decoration: none;
    display: block;
}

.menu li:hover {
    background-color: var(--secondary);
    transition: .5s background-color;
    width: 140px;
}

.menu li {
    background-color: var(--primary);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -40px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: thin;
    border-color: var(--secondary);
    height: 120px;
    width: 90px;
    font-size: 2.0em;
    font-weight: bolder;
    color: var(--primary);
}

.menu-wrap {
    background-color: var(--primary);
    position: fixed;
    top: 0;
    height: 100%;
    width: 90px;
    margin-left: -90px;
    transition: .5s;
    z-index: 10;
}

.menu-show {
    transition: .5s;
    margin-left: 0;
}

.FeedF {
    transform: translateY(7px);
    text-align: center;
    text-decoration: none;
    font-size: 3.0em;
    color: #fff;
    margin: 0;
}
