:root {

    /*Lite
    --primary: #ffffff;
    --secondary: #00FF7F;
    */
        
    /*Dark
    --primary: #101111;
    --secondary: #0073df;
    
    /*Red*/
    --primary: #101111;
    --secondary: #990000;
    

}

.parallax_main {
    height: 100vh;
    transition: 0.7s;
}

.embedded-video {
    white-space: nowrap;
    position: relative;
    transition: 0.5s;
}

.embedded ul {
    list-style: none;
    text-align: center;
    margin: 0;
    z-index: 0;
}

.embedded li {
    display: inline-block;
    position: absolute;
    /*top: 10%;*/
}

.parallax_main_shrink {
    height: 40px;
    transition: 0.7s;
}

.parallax-fade {
    opacity: 0.5;
}

.parallax_main li {
    text-align: center;
}

.parallax_main ul {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.parallax_display {
    background-color: var(--secondary);
    height: 100%;
    position: sticky;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 5;
}

.parallax-settings-wrap {
    background-color: rgba(255,255,255,0.85);
    position: absolute;
    height: 100vh;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    transition: .7s;
    z-index: 10;
    margin-left: 100%;
}

.parallax-settings {
    transition: 0.7s;
    margin-left: 0%;
}

.parallax-settings-hide {
    opacity: 0;
}

.parallax-settings-text a {
    text-decoration: none;
    font-size: 1.0em;
    opacity: 1;
    display: block;
    list-style: none;
    color: rgb( 0, 0, 0);
    text-align: auto;
}

.parallax-settings-text li {
    display: inline-block;
}

.show-button {
    position: relative;
    display: inline-block;
    background-size: auto;
    transition: 0.7s;
    opacity: 0.9;
    float: right;
    z-index: 950;
    margin-top: 92vh;
    margin-right: 1%;
    /*transform: translateY( 447px) translateX( -30px);*/
}

.show-button-image {
    height="20px"; 
    width="20px";
    background-image: url("CSS/img/show.jpeg");
}

.show-button-shink {
    transition: 0.7s;
    margin-top: 1%;
}

.show-button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.settings-button {
    position: relative;
    display: inline-block;
    background-size: auto;
    transition: 0.7s;
    opacity: 0.9;
    float: right;
    margin-top: 92vh;
    margin-right: 1%;
    z-index: 950;
    /*transform: translateY( 470px);*/
}

#settings-image {
    height="20px"; 
    width="20px";
    background-image: image("CSS/img/settings-gear.jpg"); 
}

.settings-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.settings-button-open {
    transform: rotate(50deg);
    margin-top: 1%;
    transition: 0.7s;
}

.settings-button-shrink {
    transition: 0.7s;
    margin-top: 1%
}


.parallax_main_1 {
    top: 0;
    background-image: url("img/Lunar1.jpg");
    background-position: center;
    background-size: cover;
    position: sticky;
    background-repeat: no-repeat;
    z-index: 900;
}

.parallax_main_2 {
    top: 0;
    background-image: url("img/snowy-mointain.jpg");
    background-position: center;
    background-size: cover;
    position: sticky;
    background-repeat: no-repeat;
    z-index: 901;
}

.parallax_main_3 {
    top: 0; 
    position: sticky;
    background-image: url("img/rainforest.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 902;
}

.parallax_main_general {  
    top: 0; 
    position: sticky;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-width: thick;
    border-top-style: double;
    border-top-color: black;
    z-index: 903;  
}

.testit{
    
    margin-top: 10;
    background-color: aqua;
    position: relative;
    
}
