.reddit-post {
    
    text-decoration: none;
    font-size: 1.7em;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    
}
.reddit-card {
    position: absolute;
    top: 75%;
    left: 20%;
    width: 60%;
    height: 1%;
    font-size: 0.6em;
}
