.reddit-post {
    
    text-decoration: none;
    font-size: 1.7em;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    
}
.reddit-card {
    position: absolute;
    top: 30%;
    left: 20%;
}

.sub-reddit {
    text-decoration: none;
    font-size: 1.7em;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.reddit-frame {
    width: 200px;
    border-color: white;
    border-style: solid;
    border-width: medium;
}

.reddit-alien {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    left: 40%;
    margin-bottom: 5%;
}
