.reddit-post {
    
    text-decoration: none;
    font-size: 1.7em;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    
}
.reddit-card {
    position: absolute;
    /*top: 76%;
    left: 12%;*/
}

.sub-reddit {
    text-decoration: none;
    font-size: 1.7em;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.sub-reddit a {
    color: white;
    text-decoration: none;
}

.reddit-frame {
    width: 200px;
    height: 120px;
    border-color: white;
    border-style: solid;
    border-width: medium;
}

.reddit-alien {
    border-radius: 50%;
    width: 50px;
    height: 40px;
    float: left;
    position: relative;
    margin-bottom: 5%;
}
