.hovered-test {
    
    transition: 0.5s;
    opacity: 1.0;
    font-size: 3.5em;
    
}

.leftScrollYoutube {
    
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    opacity: 0.5;
    font-size: 3.0em;
    display: inline-block;
    
    position: absolute;
    top: 15%;
    left: 3%; 
    
}

.rightScrollYoutube {
    
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    opacity: 0.5;
    font-size: 3.0em;
    display: inline-block;
    
    position: absolute;
    top: 16%;
    right: 3%;
    
}

.leftScrollPin {
    
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    opacity: 0.5;
    font-size: 3.0em;
    display: inline-block;
    
    position: absolute;
    top: 45%;
    left: 3%; 
    
}

.rightScrollPin {
    
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    opacity: 0.5;
    font-size: 3.0em;
    display: inline-block;
    
    position: absolute;
    top: 46%;
    right: 3%;
    
}

.leftScrollReddit {
    
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    opacity: 0.5;
    font-size: 3.0em;
    display: inline-block;
    
    position: absolute;
    top: 65%;
    left: 3%; 
    
}

.rightScrollReddit {
    
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    opacity: 0.5;
    font-size: 3.0em;
    display: inline-block;
    
    position: absolute;
    top: 66%;
    right: 3%;
    
}

