.settings-form {
    margin-top: 5%;
    margin-left: 3%;
    font-size: 1.7em;
    font-family: 'Ubuntu', sans-serif;
    opacity: 1.2;
    color: black;
    width: 50%;
}


.categoryName {
    margin-top: 5%;
}
.settings-categoryName {
    display: inline-block;
    width: 100%;
}


.categoryBackgroundSelect {
    margin-top: 5%;
}
.settings-categoryBackground {
    display: inline-block;
    width: 100%;
}


.categoryOrganized {
    margin-top: 5%;
}
.settings-categoryOrganized {
    display: inline-block;
    width: 100%;
}


.categorySize {
    margin-top: 5%;
}
.settings-categorySize {
    display: inline-block;
    width: 100%;
}


input[type="text"] {
    padding: 10px;
    width: 50%;
    border: solid 2px #dcdcdc;
    transition: box-shadow 0.3s, border 0.5s;
}
input[type="range"] {
    padding: 10px;
    width: 47.5%;
    border: solid 2px #dcdcdc;
    transition: box-shadow 0.3s, border 0.5s;
}

select {
    padding: 10px;
    width: 50%;
    border: solid 2px #dcdcdc;
    transition: box-shadow 0.3s, border 0.4s;
}

.panel-information {
    position: absolute;
    float: right;
    display: inline-block;
    height: 100vh;
    top: 0px;
    width: 50%;
    left: 50%;
    margin-top: 0;
}
.panel-information-accounts {
    margin-top: 7%;
    font-size: 1.7em;
    font-family: 'Ubuntu', sans-serif;
    opacity: 1.2;
    color: black;
    width: 70%;
}
.panel-information-subscriptions {
    margin-top: 2%;
    font-size: 1.7em;
    font-family: 'Ubuntu', sans-serif;
    opacity: 1.2;
    color: black;
    width: 70%;
}
.categoryAccounts {
    margin-top: 5%;
}
.categorySubscriptions {
    margin-top: 5%;
}

.updateSettingsButton {
    
    position: absolute;
    bottom: 7%;
    left: 3%;
    width: 100px;
    height: 50px;
    
}

.deleteCategoryButton {
    
    position: absolute;
    bottom: 7%;
    left: 10%;
    width: 150px;
    height: 50px;
    background-color: red;
    color: white;
    
}
