.menu-dropdown body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

.menu-dropdown ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.menu-dropdown a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.menu-dropdown a:hover {
    background-color: #005f5f;
}

.menu-dropdown a:active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.menu-dropdown li {
    width: 120px;
    border-bottom: none;
    height: 60px;
    line-height: 60px;
    font-size: 1.0em;
    display: inline-block;
    margin-right: -4px;
}

.menu-dropdown-show {
    transition: .5s;
    margin-top: 0;
}
