* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

.toggle-button {
    position: fixed;
    width: 42px;
    height: 40px;
    top: 40px;
    left: 5%;
    transform: translate(-22px, -20px);/*was -22, -20 and absolute*/
    padding: 2px;
    transition: .25s;
    z-index: 15;
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 60%;
    transition: .5s;
}

.toggle-button .menu-bar-top {
    border: 2px solid #fff;
    border-bottom: none;
    top: 0;
}

.toggle-button .menu-bar-middle {
    height: 2px;
    background-color: #fff;
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
}

.toggle-button .menu-bar-bottom {
    border: 2px solid #fff;
    border-top: none;
    top: 22px;
}

.button-open .menu-bar-top {
    margin-left: 90px;
    transform: rotate(45deg) translate(8px, 8px);
    transition: .5s;
}

.button-open .menu-bar-middle {
    margin-left: 90px;
    transform: translate(230px);
    transition: .1s ease-in;
    opacity: 0;
}

.button-open .menu-bar-bottom {
    margin-left: 90px;
    transform: rotate(-45deg) translate(8px, -7px);
    transition: .5s;
}
