/*body{
  background-image: url("img/work-desk-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} */

* {
       margin: 0;
}

.header{
  color: white;
  text-align: center;
  font-size: 60px;
  /*position: relative;
  top: -10px;
  left: -7px;
  font-family: monospace;*/

}

#logo{
  float: right;
  margin-right: 300px;
  margin-top: -110px;
}

html, body {

  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

#container   {
  background-color: rgb( 65, 63, 67);
  position: absolute;
  width: 350px;
  height: 205px;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -170px;
  border: 2px;
  border-radius: 5px;

}

#UpperLabels {
  font-family: monospace;
  color: white;
  margin-left: 7px;
  margin-top: 4px;
  font-size: 15px;
}
label{
  color: white;
  font-family: monospace;
}

input {
    font-size: 15px;
    outline: none;
}


input[type=text],
input[type=password] {
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}

#lower {
    width: 100%;
    height: 130px;
    background-color: rgb( 65, 63, 67);
    margin-top: -20px;

    border-radius: 5px;
}

#checkboxtext{}

input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
/* Original
#loginButton {
  float: right;
  background-color: rgb(68, 196, 122);
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  margin-right: 29px;

  cursor: pointer;
  width: 23%;
  border: 2px;
  border-radius: 5px;
} */

#loginButton {
  background-color: #0fadc3;
  /*background-color: rgb(68, 196, 122);*/
  color: white;
  padding: 14px 20px;

  margin-top: 15px;
  margin-left: 9px;

  cursor: pointer;

  width: 95%;
  border: 2px;
  border-radius: 5px;
}

#forgotPassword {

  float: right;
  background-color: #0fadc3;
  /*background-color: rgb(68, 196, 122);*/
  color: white;

  border: 2px;
  border-radius: 5px;

  padding: 14px 15px;
  margin-top: 20px;
  margin-right: 8px;

  cursor: pointer;
  width: 40%;
}

#createButton {
  float: right;
  background-color: #0fadc3;
  color: white;

  padding: 20px 20px;
  margin: 100px 200px;

  font-size: 20px;

  border: 2px;
  border-radius: 5px;
  cursor: pointer;
}

#CreateAccount{
  color: white;
  font-size: 25px;

  width: 550px;
  height: 150px;

  position: static;
  display: inline-block;
  padding: 15px 15px;
  margin: 60px 100px;
}
