.parallax_layer {

  background-color: rgb( 65, 63, 67);

  height: 300px;
  color: white;

  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax_login_2 {

  height: 320px;
  background-image: url("img/work-desk-4.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.parallax_login {

  margin: 0px;

  height: 100%;
  background-image: url("img/work-desk-4.jpg");
  background-attachment: fixed;
  background-size: cover;
  z-index: -9000;

}

.createAccountInfo {

  background-color: rgb( 65, 63, 67);
  margin-right: 0%;

  position: absolute;

  z-index: 10;

  height: 320px;
  width: 100%;
  color: white;

}

.createAccountInfo-slide{
  transition: 0.7s;
  width: 0%;
  margin-right: 100%;
}
.show{
  transition: 0.7s;
  opacity: 0;
}
.hide{
  opacity: 0;
  transform: translateX(-500px);
}
