body{
  background-image: url("img/work-desk-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header{
  color: white;
  text-align: center;
  font-size: 60px;
  position: relative;
  top: -10px;
  left: -7px;
  font-family: monospace;

}

html, body {

  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

#container   {
  background-color: rgb( 65, 63, 67);
  position: absolute;
  width: 350px;
  height: 205px;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -170px;
  border: 2px;
  border-radius: 5px;

}

#UpperLabels {
  font-family: monospace;
  color: white;
  margin-left: 7px;
  margin-top: 4px;
  font-size: 15px;
}
label{
  color: white;
  font-family: monospace;
}

input {
    font-size: 15px;
    outline: none;
}


input[type=text],
input[type=password] {
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}

#lower {
    width: 100%;
    height: 60px;
    margin-top: -20px;
}
input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
button{
  float: right;
  background-color: rgb(68, 196, 122);
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  margin-right: 29px;
  border: none;
  cursor: pointer;
  width: 23%;
  border: 2px;
  border-radius: 5px;
}


/*
input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
}*/

/*
form{
  border: 3px solid #f1f1f1;
  border-color: #ccc;
  background-color: #ccc;
}



input[type=text], input[type=password]{
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} */
