:root {

    /*Lite
    --primary: #ffffff;
    --secondary: #00FF7F;
    */
        
    /*Dark
    --primary: #101111;
    --secondary: #0073df;
    
    /*Red*/
    --primary: #101111;
    --secondary: #990000;
    

}

body {
    margin: 0;
    padding: 0;
    background: var(--primary);
}

h1 {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 0.9em;
    font-weight: lighter;
    margin-left: 10px;
}
