<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>login</title>

  <link rel="stylesheet" type="text/css" href="CSS/login.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/login_parallax.css"/>
</head>

<body id="loginPage" ng-app="feedapp" ng-controller="loginController">
  <div class="parallax_login">
    <div class="header">
      <h1>The Feed</h1>
    </div>
  <img id="logo" src="CSS/img/logo.png" width="150px" height="100px" />


<div id="container">
  <form autocomplete="on">
    <div id="UpperLabels">
      <lable for="Email">Email:</label>
      <input type="text" ng-model="email" id="email" placeholder="Enter Your Email"name="email" required autofocus>
      <label for="password">Password:</label>
      <input type="password" ng-model="password" id="password" placeholder="Enter Password"name="password" required>
    </div>
    <div id="lower">
      <input type="checkbox"><label for="checkbox">Keep me logged in</label>
      <!--<input type="submit" value="Login">-->
      <button id="forgotPassword" type="submit">Forgot Password</button>
      <button ng-click="loginUser()" id="loginButton" type="sumbit">Login</button>
    </div><!--/ lower-->
  </form>
</div>

</div>

<div class="parallax_layer">
  <p id="CreateAccount">Tired of clutered media feeds spread across multiple websites?
  The FEED is your solution. Organize content like never before in your own, personal
  way. Create an account and get started now!
  </p>
  <button id="createButton" ng-click="createAccount()" type="submit">Create an Account</button>
</div>

<div class="createAccountsPanel">

  <table id="AccountTable" border="0" width="900" height="200">

    <th> Email </th>
    <tr>
      <td>
      <input type="text" ng-model="create_email" id="email" placeholder="Enter email" name="email" ></td>
      <td><select>
        <option value="friend_name"> What is your best friend's name? </option>
        <option value="pet"> What is your pet's name? </option>
      </select></td>
    </tr>

      <th> Password </th>
      <tr>
      <td>
        <input type="password" ng-model="create_password" id="password" placeholder="Enter Password" name="password" >
      </td>
      <td>
        <input type="text" id="securityAnswer" placeholder="Enter your answer" name="securityAnswer">
      </td>
    </tr>
  </table>


  <button id="SubmitAcc" type="submit"> Submit </button>

</div>


<div class="parallax_login_2"> </div>

<div class="parallax_layer">
</div>

</body>
<!--SCRIPTS-->
<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script src="js/ng-controllers/loginController.js"></script>
</html>
